<h1>Editing appointment question response</h1>

<%= render "form", appointment_question_response: @appointment_question_response %>

<br>

<div>
  <%= link_to "Show this appointment question response", @appointment_question_response %> |
  <%= link_to "Back to appointment question responses", appointment_question_responses_path %>
</div>
