<div id="<%= dom_id appointment_question %>">
  <p>
    <strong>Eye side:</strong>
    <%= appointment_question.eye_side %>
  </p>

  <p>
    <strong>Appointment title:</strong>
    <%= appointment_question.appointment_title_id %>
  </p>

</div>
