<h1>Editing appointment question</h1>

<%= render "form", appointment_question: @appointment_question %>

<br>

<div>
  <%= link_to "Show this appointment question", @appointment_question %> |
  <%= link_to "Back to appointment questions", appointment_questions_path %>
</div>
