<div id="<%= dom_id appointment_title %>">
  <p>
    <strong>Name:</strong>
    <%= appointment_title.name %>
  </p>

  <p>
    <strong>Appointment group:</strong>
    <%= appointment_title.appointment_group_id %>
  </p>

</div>
