<h1>Editing appointment title</h1>

<%= render "form", appointment_title: @appointment_title %>

<br>

<div>
  <%= link_to "Show this appointment title", @appointment_title %> |
  <%= link_to "Back to appointment titles", appointment_titles_path %>
</div>
