<h1>New appointment question option</h1>

<%= render "form", appointment_question_option: @appointment_question_option %>

<br>

<div>
  <%= link_to "Back to appointment question options", appointment_question_options_path %>
</div>
